.maincont {
  background: red;
}
.cont {
  display: flex;
  justify-content: center;
  contain: content;
}
.fea1 {
  display: flex;
  justify-content: center;
  contain: content;
  padding-top: 1rem;
}
