
.next-btn {
    display: block;
    width: 180px;
    height: 35px;
    line-height: 35px;
    border: .01px solid #85C872;
    border-radius: 5px;
    color: #fff;
    background: #85C872;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    margin-top: 3rem;
}
.next-btn:hover {
    background: #6fad5e;
    color: #fff;
    text-decoration: none;
}
.healthyimg{
    margin: 0 auto;
}
.result-div{
    width: 80%;
    margin: 0 auto;
}
